body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: lightgray;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
    display: block;
}

header {
    clear:both;
    background: blueviolet;
}

#section_functions {
    float: left;
    width: 360px;
    background: darkorange;
}

#section_map {
    /*float: right;*/
    margin-left: 360px;
    height: 800px;
    background: lightblue;
}

footer {
    clear:both;
    background: lightgreen;
}
