/*
body {
    width: 940px;
    //margin: 0 auto;
    //font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}
*/

body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    width: 960px;
    background: lightgray;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
    display: block;
}

header {
    clear:both;
    background: blueviolet;
}

#section_functions {
    float: left;
    width: 360px;
    background: darkorange;
}

#section_basemap {
    float: right;
    width: 600px;
    background: deepskyblue;
}

footer {
    clear:both;
    background:#cc9;
}
